[Desktop Entry]
Name=KassatkaDesk
NoDisplay=true
MimeType=x-scheme-handler/kassatkadesk;
TryExec=kassatkadesk
Exec=kassatkadesk %u
Icon=kassatkadesk
Terminal=false
Type=Application
StartupNotify=false
StartupWMClass=kassatkadesk
